{% extends "base.html" %}

{% block content %} 
<div class="album-grid">
    {% for album in albums %}
    <div class="album-card">
        {% if album[5] %}
            <a href="{{ url_for('album_detail', album_id=album[0]) }}">
                <img src="{{ album[5] }}" alt="Okładka albumu">
            </a>
        {% endif %}
        <h4>
            <a href="{{ url_for('album_detail', album_id=album[0]) }}">{{ album[1] }}</a>
        </h4>
        <p>{{ album[2] }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}